@use '@/shared/config/styles/variables' as *

.mobile
  div
    margin: 0
    left: 2vw
    gap: 20px
    margin-top: 10px

.error
  display: block
  color: $error
  font-size: 0.9rem

.formFooter
  display: flex
  align-items: center
  flex-direction: column

.submit
  margin-top: 20px
  float: right

.switch
  margin-top: 16px
  text-align: center
  font-size: 0.9rem

.switchLink
  background: none
  border: none
  padding: 0
  color: $main-blue
  font-weight: 700
  cursor: pointer
  text-decoration: underline
