@use '@/shared/config/styles/variables' as *

.page
  display: flex
  flex-direction: column
  align-items: center
  padding: 32px 16px
  min-height: 100dvh

.title
  margin: 0 0 20px
  color: $main-blue
  font-family: $main-font
  font-style: italic
  font-weight: 800
  font-size: 1.8rem
