@use '@/shared/config/styles/variables' as *

.error
  display: block
  color: $error
  font-size: 0.9rem

.submit
  margin-top: 20px
  float: right

.switch
  margin-top: 16px
  text-align: center
  font-size: 0.9rem

.switchLink
  background: none
  border: none
  padding: 0
  color: $main-blue
  font-weight: 700
  cursor: pointer
  text-decoration: underline