$modal-margin: 20vw
  
#animated-modal-container #animated-modal-background #animated-modal
  height: 60vh
  display: flex !important
  justify-content: center
  right: $modal-margin
  left: $modal-margin
  width: calc(90vw - $modal-margin * 2)
  border: 2px solid $main-blue
  border-bottom: 5px solid $main-blue
  border-radius: 30px