.CloseButton
  border: none
  height: 40px
  width: 40px
  overflow: hidden
  cursor: pointer
  .line
    background: $dark-blue
    height: 2px
    width: 50px
    align-content: center

    &.turn-left
      transform: rotate(-120deg)
    &.turn-right
      transform: rotate(120deg)