.Auth
  display: flex
  flex-direction: column
  align-items: center
  gap: 10vh
  .close
    position: absolute
    right: 2vw
    top: 4vh
    transform: scale(1.3)

  form
    display: grid
    gap: 10px
    justify-items: center

  .auth-button
    width: 20vw
    min-width: 160px