#animated-modal-background
  z-index: 2


#animated-modal-container
  z-index: 1 !important


#animated-modal-container #animated-modal-background #animated-modal
  margin: 16px
  background: $bg

@media screen and (max-width: 500px)
  #animated-modal
    padding: 20px !important
    margin: 8px !important
