.Signup
  .title
    position: relative
    left: calc(100vw - 40% * 2.3 )
    width: 60%
    
  form
    margin-top: 20vw
    display: flex
    flex-direction: column
    align-items: center
    height: 80vh
    
    .input 
      position: relative
      left: calc(100vw - 40% * 2.5)
    .sumbit 
      margin-top: 10vw
      margin-bottom: 5vw
    .bottom-title
      font-family: $main-font
      font-weight: 800
      font-style: italic
      line-height: 150%
      letter-spacing: 0
      
      a
        text-decoration: none
        color: $main-blue
