@use '@/shared/config/styles/variables' as *

$top-margins: 10vw

.header
  position: sticky
  top: 0
  z-index: 1
  background: $bg
  border-bottom: 3px solid $main-blue
  margin: 0 $top-margins
  &.mobile
    margin: 0

.inner
  display: flex
  justify-content: space-between
  align-items: center

.logo
  margin: 0 4vw
  color: $main-blue
  font-family: $main-font-italic
  font-weight: 900
  font-style: italic
  font-size: 3rem
  line-height: 180%
  letter-spacing: 0
  text-decoration: none
  &.mobile
    font-size: 2.5rem

.nav
  display: flex
  gap: 20px

.navLink
  color: $main-blue
  font-weight: 600
  text-decoration: none
  opacity: 0.65
  transition: opacity 0.15s

  &:hover
    opacity: 1

.navLinkActive
  opacity: 1
  text-decoration: underline

.actions
  margin-right: 4vw
  display: flex
  align-items: center
  gap: 10px

.username
  background: none
  border: none
  padding: 0
  cursor: pointer
  color: $main-blue
  font-family: $main-font-italic

  margin-right: -6px

  font-weight: 600
  font-style: italic
  font-size: 2rem
  letter-spacing: -1px
