@use '@/shared/config/styles/variables' as *

$input-width: 25vw
$input-height: 40px
$textarea-height: 200px
$animation-delay: 0.5s
$eye-toggle-size: 30px

.minimalTextInput
  display: flex
  position: relative
  min-width: $input-width

  input
    margin: 5px
    width: $input-width
    min-width: 130px
    height: $input-height
    background: $bg
    color: $grey
    font-family: $main-font
    font-size: 1.4rem
    font-weight: 800
    font-style: italic
    line-height: 150%
    letter-spacing: 0
    transition: background $animation-delay ease-out, color $animation-delay ease-out
    padding-left: 10px
    padding-right: 10px
    border: none
    border-bottom: 3px solid $dark-blue

    &::placeholder
      color: $dark-grey
    &:focus
      outline: none

  textarea
    border: 3px solid $dark-blue
    resize: none

    margin: 5px
    padding: 5px 10px
    width: calc($input-width)
    min-width: 130px
    background: $bg
    color: $grey
    height: $textarea-height

    font-family: $main-font
    font-size: 1.4rem
    font-weight: 800
    font-style: italic
    line-height: 150%
    letter-spacing: 0

    &:focus
      outline: none

.eyeToggle
  position: absolute
  right: $eye-toggle-size
  top: 50%
  transform: translateY(-50%)
  border: none
  background: none
  cursor: pointer
  color: $dark-grey
