$top-margins: 10vw


.plug
  height: 100px
header.Desktop
  z-index: 1
  transform: translate3d(0px, 0px, 0px)
  background: $bg
  border-bottom: 3px solid $main-blue
  position: fixed
  top: 0
  left: $top-margins
  right: $top-margins

  .TopMenu
    display: flex
    justify-content: space-between
    align-items: center
    .logo
      margin-left: 4vw
      color: $main-blue  
      font-family: $main-font-italic
      font-weight: 900
      font-style: italic
      font-size: 3rem
      line-height: 180%
      letter-spacing: 0
      text-decoration: none
    .auth-buttons
      margin-right: 4vw
      display: flex
      gap: 10px