$main-blue: #0077FF
$dark-blue: #304FFE
$blue: #DDE9FF
$white: #FFF
$light-grey: #DDE5E8
$dark-grey: rgba(0,0,0,0.56)
$grey: rgba(0,0,0,0.7)
$error: #E5484D

$bg: $light-grey
$component-bg: $blue

$bottom-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25)

$main-font: 'Nunito Sans', sans-serif
$main-font-italic: Nunito Sans Italic
