$main-blue: var(--main-blue)
$dark-blue: var(--dark-blue)
$blue: var(--blue)
$white: var(--white)
$light-grey: var(--light-grey)
$dark-grey: var(--dark-grey)
$grey: var(--grey)
$error: var(--error)

$bg: var(--bg)
$component-bg: var(--component-bg)

$bottom-shadow: var(--bottom-shadow)

$main-font: 'Nunito Sans', sans-serif
$main-font-italic: Nunito Sans Italic
