@use '@/shared/config/styles/variables' as *

$post-width: 50vw

.postList
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 60px
  margin-top: 10px

.filters
  width: $post-width
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 20px
