@use '@/shared/config/styles/variables' as *

$post-width: 50vw

.postList
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 60px
  margin-top: 10px
  overflow: hidden

.filters
  width: $post-width
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 20px
  &.mobile
    width: 90vw

  & .mobile // create post button
    border-radius: 50px
    font-family: auto
    font-size: 40px
    height: 50px
    width: 50px
    display: flex
    justify-content: center
    align-items: center
  & .mobile:has(input)
    width: 1000px
