.Title
  background: $dark-blue
  color: $white
  font-family: $main-font
  font-size: 2rem
  font-weight: 800
  font-style: italic
  line-height: 150%
  letter-spacing: 0

  padding: 0 44px
  text-align: center
