$post-width: 50vw

.PostList.Desktop 
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 60px
  margin-top: 10px
  .filters  
    width: $post-width
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
  .posts 
    display: grid
    gap: 20px

