$top-margins: 0vw

.plug
  height: 100px
header.Mobile
  z-index: 1
  transform: translate3d(0px, 0px, 0px)
  background: $bg
  position: fixed
  top: 0
  left: $top-margins
  right: $top-margins

  .TopMenu
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 10px
    padding-bottom: 10px
    border-bottom: 3px solid $main-blue
    .logo
      margin-left: 4vw
      color: $main-blue  
      font-family: $main-font-italic
      font-weight: 900
      font-style: italic
      font-size: 1.3rem
      line-height: 180%
      letter-spacing: 0
      text-decoration: none
    .login
      margin-right: 10px